<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwoFourInsight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "ipm.css" %}">

</head>
<body>

<div>
    <nav class="navbar navbar-inverse nav-cus">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">TwoFour Insight</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'get_patents' %}">Patents</a></li>
                <li><a href="{% url 'get_insights' %}">Insights</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'add' %}">add</a></li>
            </ul>

        </div>
    </nav>
</div>

{% block section %}
{% endblock %}


</body>
</html>